*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    }

.head{
    width: 99.9%;
    align-items: center;
    justify-content:center ;
    display: flex;
    position: relative;
    background-color: #ffe7cf;
}
.container{
    width: 60%;
    /* border: 2px solid black; */
}

 .navbar{
    width: 100%;
    display: flex;
    align-items: center;

    padding-top:0.5rem  ;
    padding-bottom: 0.5rem;

}

.logo{
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 0px;
    justify-content: left;
}

.navlst{
    display: flex;
    align-items: right;
    list-style: none;
    gap: 10px ;
    font-size: Bold;
    margin-left: 400px;
}

a{
    text-decoration: none;
    font-size: 0.95rem;
    color: #333;
    justify-content: end;
}
.nav_button{
    gap: 20px;
    padding: 5px;
}
.btn1,.btn2{
    border: 1px solid rgb(197, 165, 58);
    padding: 4px;
    font-weight: 3px ;
    background: whitesmoke;
    border-radius: 3px;
}

.btn2{
    background-color: orange;
    color: #ffe7cf;
}

.sectionOne{
    width: 99.9%;
    height:600px;
    display: block;
    background-image: url(/image/bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    justify-content: center;
    display: flex;

} 

.pera{
    gap: 1.2 rem;
    margin-top: 150px;
    
}
.section_one_heading{
    font-size: 50px;
    line-height: 50px;
}
.peras1{
    font-size: larger;
    margin-top: 20px;
}

.btns1{
    margin-top: 30px;
    padding: 10px;
    font-size: medium;
    color: #ffe7cf;
    background-color: #eb9a30;
    border: 1px solid  ;
    border-radius: 5px;
}

.ourService{
    width: 99.9%;
    height: 500px;
    justify-content: center;
    display: flex;
    background-color: #f0eae5;
}


.h1s2{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.peras2{
    text-align: center;
    font-size: small;
}
.p2s2{
    margin-top: 20px;
}

.boxs2{
    
    display: flex;
    justify-content: center;
    gap: 2.5rem 5%;
    margin-top: 20px;
    
}

.boxesS1{
    /* border: 1px solid black; */
    width: 200px;
    height: 180px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0,2px,5px rgb(129, 128, 128);
}

.imgSize{
    width: 80px;
    padding-top: 20px ;
}

.boxPs2{
    margin-top: 20px;
    font-weight: bold;
}

.section3{
    width: 99.9%;
    height: 1050px;
    justify-content: center;
    display: flex;
    background-color: #ffffff;
}

.boxS3 {
    display: flex;
    justify-content: center;

}
.boxS3b1,.boxS3b2{
    width: 50%;
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 40px;
}

.heading1S3{
    font-size: small;
}
hr{
    width: 25%;
    height: 3px;
    background-color: yellow;
}



.heading2S3{
    font-weight: bold;
    margin-top: 20px;
    font-size: 30px;
    padding-right: 150px;
    line-height: 35px;
}

.pera1S3{
    margin-top: 20px;
    padding-right: 150px;
}
.learn{
    color: #eb9a30;
    margin-top: 20px;
}

.s2b2i1{
    width: 50%;
    border-radius: 40%;
    margin-left: 120px;
    
}

.section4{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #f0eae5;

}

.headingS4{
    margin-left: 35%;
}


.box1S4{
    
    width: auto;
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem 10%;
}

.box2S4{
    
    text-align: center;
    justify-content: center;
    display: flex;
    width: auto;
    gap: 1rem 8px;
    font-weight: bold;
}

.imgb2S4{
    width: 20px;
}
